extends ../layout.jade
block contenido
	div(class="col-md-7 center-block no-float top-space text-left animated fadeInUp")
		h1(class="pacifico big blue") Inicio de sesi칩n para Administradores
		form(method="post" action="/admin" style="margin-top:1.5em")
			div(class="col-md-7 center-block no-float")
				div(class="form-group")
					label Contrase침a
					input(type="password" name="password" placeholder="Contrase침a del Administrador" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-success" value="Iniciar sesi칩n")
