extends layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		center
			h1(class="pacifico big blue animated flipInX") Food Facilito
			br
			h3(class="animated fadeInDown delay-1") Aplicación desarrollada por:
			h2(class="animated fadeInDown delay-1") #[strong Gilberth Molina Castrillo]
