extends layout.jade
block contenido
	div(class="col-md-3")
	div(class="col-md-6 center-block no-float top-space text-left")
		center
			h1(class="pacifico big blue") Registro de usuarios
			br
		form(method="post" action="/signup" style="margin-top:1.5em")
			div(class="form-group")
				label Nombre de usuario
				input(type="text" name="username" placeholder="Nombre del usuario" class="form-control")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			div(class="form-group")
				label Confirme su contraseña
				input(type="password" name="confirm_password" placeholder="Contraseña" class="form-control")
			div(class="col-md-12 #{ visualizacionError }")
				ul(class="list-group text-center")
					li(class="list-group-item list-group-item-danger")
						h4= usuarioExistente
			div(class="form-group text-right")
				a(href="javascript:history.back()" class="btn btn-default col-md-3 text-left") Volver Atrás
				input(type="submit" class="btn btn-success col-md-2 col-md-offset-7 text-right" value="Registrar")
	div(class="col-md-6")
